# Import additional recovery configuration specific to the project
import /init.recovery.project.rc

# Initialize USB configuration and set permissions for driver loading script
on init
    setprop sys.usb.configfs 1
    setprop sys.usb.controller "musb-hdrc"
    setprop sys.usb.ffs.aio_compat 0
	export LD_LIBRARY_PATH /system/lib64:/vendor/lib64:/vendor/lib64/hw
    
on init
    chmod 0755 /system/bin/load_drivers.sh
	start health-hal-2-1



# When filesystem is mounted and ro.debuggable is 0, configure USB charging mode and start adbd
on fs && property:ro.debuggable=0
    # distinguish USB shoulde connect or not, i.e. CDP vs SDP
    write /sys/class/udc/musb-hdrc/device/cmode 2
    # set charging free due to it wait for USB activation
    start adbd

on late-fs
    # Mount RW partitions which need run fsck
    mount_all /first_stage_ramdisk/fstab.mt6789 --late	
	
# On boot, run the MediaTek platform path utility
on boot
    exec u:r:update_engine:s0 root root -- /system/bin/mtk_plpath_utils

# Service to load vendor DLKM modules using a shell script
service load_vendor_dlkm_modules /system/bin/load_drivers.sh
    user root
    group root
    disabled
    oneshot
    seclabel u:r:recovery:s0
    
# When recovery service is running, start the vendor DLKM module loading service
on property:init.svc.recovery=running
    start load_vendor_dlkm_modules
	
	